.container {
    width: 40%;
    height: 80%;
    margin: auto;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;

}

.containt {
    height: 100%;
    width: 100%;
    place-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text {
    display: flex;
    gap: 40px;
}

.load {
    height: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(54, 72, 194);
    font-size: 25px;
}

/* @media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        padding: 20px 10px;
    }

    .text {
        flex-direction: column;
        gap: 20px;
    }

    .load {
        font-size: 20px;
        gap: 20px;
    }
} */